
<div class="content">
<h5>Choose a hunt from those available below. </h5>
</div>
   <div class="job-container">
        <% @jobs.each do |job| %>
            <div class="job-card">
            <h4><%= job.title%></h4>
            <p><%= job.description%></p>
            <p><%= job.amount%></p>
            <%= link_to 'View more', job_path(job)%>
            </div>
        <% end %> 
    </div>




