
<h1>Hire a slayer</h1>

<h2>all slayers</h2>

<% @users.each do |user| %>
    <p>
        <%= user.first_name%>
        <%= link_to 'View more', slayerz_path(user.slayer_info.id) %>
    </p>
<% end %>
