
<h3>Browse all Slayerz</h3>

<div class="slayerz-container">
    <% @users.each do |user| %>
        <div class="slayerz-card">
            <%= user.first_name%> <%= user.last_name%>
            <% user.slayer_info %>
            <%= link_to 'View more', slayerz_path(user.slayer_info) %>
        </div>
    <% end %>
</div>
