
<h1>Hire a slayer</h1>

<h2>Recent jobs</h2>

<% @jobs.each do |job| %>
    <p>
        <%= job.title%>
        <%= job.description%>
        <%= job.amount%>
        <%= link_to 'View job', job_path(job)%>
    </p>
<%end%>