<h1>individual  slayerz page</h1>


<!-- View for individual slayer profiles -->
<p><%= @slayer.user.first_name %></p>
<p><%= @slayer.weapon %></p>
<p><%= @slayer.race %></p>
<p><%= @slayer.biography %></p>



