<h1>individual  slayerz page</h1>


<!-- View for individual slayer profiles -->
<% raise %>
<p><%= @user.first_name %></p>
<p><%= @user.slayer_info.weapon %></p>
<p><%= @user.slayer_info.race %></p>
<p><%= @user.slayer_info.biography %></p>



