@font-face {
    font-family: Slayerz-font;
    src: font_url("assets/fonts/Martyric_PersonalUse.ttf");
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #000;
    color: #a7888e;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 180px auto auto 120px;
    grid-template-areas: "header header"
                         "hero hero"
                         "main main"
                         "footer footer"
    ;
}

/* Nabigation */ 

header {
    background-color: #000;
    display: flex;
    grid-area: header;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 42px 70px;
    color: #c9b4b8;
    margin-top: 12px;
}


.nav-area {
    display: inline-block;
    padding: 22px 15px;
    text-transform: uppercase;
}

/* Typography styling */

/* Nav Logo */
h1 {
    
    font-family: Slayerz-font;
    color: #720620;
    font-size: 4em;
    letter-spacing: 5px;
}

/* Hero heading h2 */


/* Main content headings */

h3 {
    margin: 22px 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
    margin: 82px 0 62px 0;
    color: #520616;
    font-size: 3em;
}

p {
    /* color: #630f20; */
    color: #772a3a;
}

h4 {
    /* color: #9f4155; */
}

/* buttons */

nav * a {
    color: #520616;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3px;
    padding: 0 12px;
}

nav * a:hover{
    color: #911630;
    text-decoration: none;
}

a.btn-empty, a.btn-full {
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3px;
}

.btn-full, .btn-empty {
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0 5%;
}

a.btn-full:hover, a.btn-empty:hover {
    color: #c9b4b8;
    font-weight: bold;
}
.btn-full {
    background-color: #520616;
    color: #000;
}

.btn-empty {
    border: 3px solid #520616;
    color: #520616;
}

.btn-container {
    display: flex;
 }

/* Page styles */

.hero {
    background-image: url("../images/slayerz-bg.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: hero;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
}

.content {
    margin: 160px 0 60px 0;
    text-align: center;
}

.jobs {
    grid-area: jobs;
   
}

.job-container {
    width: 100%;
    
}

.job-card {
    /* width: 120px;
    margin: 0; */
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; */
}

.job-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 22px;
}

.inner-job {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 330px;
    margin: 22px;
    background-color: #200108;
    padding: 22px;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    text-align: center;
    
}

.inner-job > a{
    border: 2px solid #520616;
    background-color: #15040a;
    opacity: 0.6;
    /* background-color: #15040a; */
    width: 160px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c9b4b8;
    text-decoration: none;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 42px;
}

.inner-job > a:hover {
    background-color: #520616;
    transform: scale(-1, 1);
    opacity: 1;
    box-shadow: 3px 3px 10px #000;
}

.slayers {
    grid-area: slayers;
}

main {
    grid-area: main;
}

footer {
    background-color: #15050f;
    margin-top: 60px;
    height: 220px;
    grid-area: footer;
}