@font-face {
    font-family: Slayerz-font;
    src: url("Martyric_PersonalUse.ttf");
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #000;
    color: #cabfcc;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 140px auto auto 120px;
    grid-template-areas: "header header"
                         "hero hero"
                         "main main"
                         "footer footer"
    ;
}

header {
    background-color: #000;
    display: flex;
    grid-area: header;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 70px;
    color: #c9b4b8;
}


.nav-area {
    display: inline-block;
    padding: 0 15px;
    text-transform: uppercase;
}

/* Typography styling */

h1 {
    font-family: Slayerz-font;
    color: #720620;
    font-size: 4em;
    letter-spacing: 5px;
}

h2 {
    margin: 22px 0;
}

/* buttons */

nav * a {
    color: #520616;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3px;
    padding: 0 12px;
}

nav * a:hover{
    color: #911630;
    text-decoration: none;
}

a.btn-empty, a.btn-full {
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3px;
}

.btn-full, .btn-empty {
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0 5%;
}

a.btn-full:hover, a.btn-empty:hover {
    color: #c9b4b8;
    font-weight: bold;
}
.btn-full {
    background-color: #520616;
    color: #000;
}

.btn-empty {
    border: 3px solid #520616;
    color: #520616;
}

/* Page styles */

.hero {
    background-image: url("slayerz-bg.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: hero;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.btn-container {
   display: flex;
}


.jobs {
    grid-area: jobs;
    display: flex;
    width: 100%;
}

.job-card {
    width: 120px;

}

.slayers {
    grid-area: slayers;
}

main {
    grid-area: main;
}

footer {
    background-color: #15050f;
    margin-top: 60px;
    height: 220px;
    grid-area: footer;
}