// Place all the styles related to the slayerz controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// @font-face {
//     font-family: Slayerz-font;
//     src: url(font-path("Martyric_PersonalUse.ttf"));
// }

// body {
//     background-color: #0d101b;
//     color: #cabfcc;
// }

// nav {
//     background-color: #171f35;
//     height: 140px;
// }

// h1 {
//     font-family: Slayerz-font;
//     color: #720620;
//     font-size: 4em;
//     letter-spacing: 5px;
// }